.btn {
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    cursor: pointer;
    &-white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background: $color-white;
          }
      }
      &-green {
        background: $color-primary;
        color: $color-white;
        &::after {
          background: $color-primary;
        }
      }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
          }
        
      }
    &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  
  }
  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  
 
  }
  

  .text-btn {
    &:link,
    &:visited {
      text-transform:capitalize;
      font-size: 1.6rem;
      color: $color-primary;
      display: inline-block;
      border-bottom: 1px solid $color-primary;
      padding: .3rem;
      transition: all 0.3s;
      
    }
    &:hover{
      background: $color-primary;
      color: #fff;
      box-shadow: 0 3px 2px rgba($color: #000, $alpha: .2);
      transform: translateY(-2px);         
    }
    &:active {
      box-shadow: 0 2px 1px rgba($color: #000, $alpha: .2);
      transform: translateY(0);  
    }
  }